@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}
@keyframes click {
    from {
        top: 110px;
        font-size: 2.8rem;
        opacity: 10%;
    }
    to {
        top: 80px;
        font-size: 3rem;
        opacity: 1;
    }
}
.motion {
    animation-duration: 0.5s;
    animation-name: click;
}
#cnter {
    cursor: pointer;
    user-select: none;
    /* 중앙 정렬 */
    right: 50%;
    transform: translateX(50%);
    /* 높이 조절 */
    position: absolute;
    top: 80px;
    font-size: 3rem;
}
#layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    user-select: none;
}
#des {
    font-size: 0.9em;
    color: gray
}
#initBtn {
    position: relative;
    top: 0.5em;
    border-radius: 7px;
    color: white;
    background-color: black;
    font-size: 1.2em;
    padding: 0.2em 0.4em;
    cursor: pointer;
    /* 버튼 테두리 제거 */
    border: 0;
    outline: 0;
    /* 반응 속도 설정 */
    transition: 0.4s
}
#initBtn:hover {
    background-color: #616161;
}
#watch {
    text-align: center;
    font-size: 0.6em;
    color: gray;
}
#rec {
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 10px;
}
